[submodule "Amethyst"]
	path = Amethyst
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Amethyst
	branch = REL1_36
[submodule "Anisa"]
	path = Anisa
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Anisa
	branch = REL1_36
[submodule "Athena"]
	path = Athena
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Athena
	branch = REL1_36
[submodule "BlueSky"]
	path = BlueSky
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/BlueSky
	branch = REL1_36
[submodule "Bouquet"]
	path = Bouquet
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Bouquet
	branch = REL1_36
[submodule "CologneBlue"]
	path = CologneBlue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/CologneBlue
	branch = REL1_36
[submodule "Cosmos"]
	path = Cosmos
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Cosmos
	branch = REL1_36
[submodule "DeskMessMirrored"]
	path = DeskMessMirrored
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/DeskMessMirrored
	branch = REL1_36
[submodule "Dusk"]
	path = Dusk
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Dusk
	branch = REL1_36
[submodule "DuskToDawn"]
	path = DuskToDawn
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/DuskToDawn
	branch = REL1_36
[submodule "Empty"]
	path = Empty
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Empty
	branch = REL1_36
[submodule "Example"]
	path = Example
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Example
	branch = REL1_36
[submodule "Gamepress"]
	path = Gamepress
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Gamepress
	branch = REL1_36
[submodule "GreyStuff"]
	path = GreyStuff
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/GreyStuff
	branch = REL1_36
[submodule "HasSomeColours"]
	path = HasSomeColours
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/HasSomeColours
	branch = REL1_36
[submodule "Mask"]
	path = Mask
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Mask
	branch = REL1_36
[submodule "Material"]
	path = Material
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Material
	branch = REL1_36
[submodule "Metrolook"]
	path = Metrolook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Metrolook
	branch = REL1_36
[submodule "MinervaNeue"]
	path = MinervaNeue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MinervaNeue
	branch = REL1_36
[submodule "Modern"]
	path = Modern
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Modern
	branch = REL1_36
[submodule "MonoBook"]
	path = MonoBook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MonoBook
	branch = REL1_36
[submodule "Nimbus"]
	path = Nimbus
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Nimbus
	branch = REL1_36
[submodule "Nostalgia"]
	path = Nostalgia
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Nostalgia
	branch = REL1_36
[submodule "Poncho"]
	path = Poncho
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Poncho
	branch = REL1_36
[submodule "Refreshed"]
	path = Refreshed
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Refreshed
	branch = REL1_36
[submodule "Schulenburg"]
	path = Schulenburg
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Schulenburg
	branch = REL1_36
[submodule "Splash"]
	path = Splash
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Splash
	branch = REL1_36
[submodule "Tempo"]
	path = Tempo
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Tempo
	branch = REL1_36
[submodule "Timeless"]
	path = Timeless
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Timeless
	branch = REL1_36
[submodule "Truglass"]
	path = Truglass
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Truglass
	branch = REL1_36
[submodule "Vector"]
	path = Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Vector
	branch = REL1_36
[submodule "WPtouch"]
	path = WPtouch
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/WPtouch
	branch = master
[submodule "WikimediaApiPortal"]
	path = WikimediaApiPortal
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/WikimediaApiPortal
	branch = REL1_36
[submodule "WoOgLeShades"]
	path = WoOgLeShades
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/WoOgLeShades
	branch = REL1_36
[submodule "apex"]
	path = apex
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/apex
	branch = REL1_36
[submodule "erudite"]
	path = erudite
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/erudite
	branch = REL1_36
[submodule "p2wiki"]
	path = p2wiki
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/p2wiki
	branch = REL1_36
[submodule "webplatform"]
	path = webplatform
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/webplatform
	branch = REL1_36
[submodule "chameleon"]
	path = chameleon
	url = https://github.com/ProfessionalWiki/chameleon/
	branch = master
[submodule "citizen"]
	path = citizen
	url = https://github.com/StarCitizenTools/mediawiki-skins-Citizen
	branch = master
[submodule "DarkVector"]
	path = DarkVector
	url = https://github.com/dolfinus/DarkVector/
	branch = master
[submodule "FemiwikiSkin"]
	path = FemiwikiSkin
	url = https://github.com/femiwiki/FemiwikiSkin/
	branch = REL1_36
[submodule "foreground"]
	path = foreground
	url = https://github.com/jthingelstad/foreground
	branch = master
[submodule "Liberty"]
	path = Liberty
	url = https://gitlab.com/librewiki/Liberty-MW-Skin/
	branch = master
[submodule "medik"]
	path = medik
	url = https://bitbucket.org/wikiskripta/medik/
	branch = master
[submodule "pivot"]
	path = pivot
	url = https://github.com/Hutchy68/pivot/
	branch = master
[submodule "Tweeki"]
	path = Tweeki
	url = https://github.com/thaider/Tweeki/
	branch = master
